@import 'variables';

section {
    padding: 40px 0;

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        padding: 0;
        list-style: none;


        .product-item {
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: 20px;
            margin-right: 5px;
            margin-bottom: 10px;
            margin-left: 100px;

            h4 {
                margin: 10px 0;
                font-family: "Roboto", sans-serif;
            }

            img {
                width: 100%;
                height: auto;
            }

            p {
                font-size: 14px;
                color: #333; 
            }

            .product-button {
                padding: 10px 20px;
                background-color: #3498db;
                border: none;
                color: white;
                text-decoration: none;
                border-radius: 4px;
                font-weight: 700;
                margin-top: 10px;

                &:hover {
                    background-color: #2980b9;
                }
            }
        }
    }
}